@font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('assets/Optima\ Medium.woff') format('woff');
    }

* {
    font-family: 'Optima Medium', Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

header {
    background-image: url(assets/theconduit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-width: 35vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header div {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

header img {
    width: 400px;
}

header p {
    margin-top: 1.3rem;
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

section {
    color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(assets/SpaceStation_Z_15_0005.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description, .create-account, .form-wrapper {
    padding: 1.5rem 0;
    padding-left: 3rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: rgba(128, 128, 128, 0.377);
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}

.description p {
    width: 80%;
    line-height: 1.3rem;
}

.description h2 {
    line-height: 2rem;
    width: 70%;
}

.form-wrapper {
    background-color: rgba(43, 67, 88, 0.575);
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}

.form-wrapper h4 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

form div {
    display: flex;
    gap: 8rem;
}

form p {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
}

input, button {
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input {
    padding: 0.3rem;
    line-height: 1rem;
    width: 250px;
    border-radius: 0.6rem;
    border: 2px solid;
    /* border-color default is in input:placeholder-shown */
}

input::placeholder {
    padding: 1rem 0;
}

input:focus:invalid {
    outline-color: rgb(216, 53, 53);
    box-shadow: 0px 0px 33px -3px rgb(216, 53, 53);
}

input:focus:valid {
    outline-color: rgb(61, 196, 95);
    box-shadow: 0px 0px 33px -3px rgb(61, 196, 95);
}

input:focus:placeholder-shown {
    outline-color: rgb(48, 121, 216);
    box-shadow: 0px 0px 33px -3px rgb(178, 182, 80);
}

input:invalid {
    border-color: rgb(216, 53, 53);
}

input:valid {
    border-color: rgb(104, 197, 126);
}

input:required + span::before {
    content: "Required";
    position: absolute;
    left: 190px;
    bottom: 38px;
    font-size: 0.8rem;
    color: rgb(172, 166, 166);
}

input + span::before {
    content: "Optional";
    position: absolute;
    left: 192px;
    bottom: 38px;
    font-size: 0.8rem;
    color: rgb(172, 166, 166);
}

input:valid + span::before {
    color: rgb(61, 196, 95);
} 

input:invalid + span::before {
    color: rgb(216, 53, 53);
}

input:placeholder-shown {
    border-color: #7a7a7a;
}

input:placeholder-shown + span::before {
    color: rgb(172, 166, 166);
}

.create-account {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.8rem;
    background-color: rgba(128, 128, 128, 0.377);
    box-shadow: 0px 0px 20px 1px rgb(0, 0, 0);
}

button {
    padding: 0.8rem 3rem;
    border-radius: 0.7rem;
    border: 2px solid rgba(131, 33, 223, 0.795);
    background-color: rgb(60, 199, 134);
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(150, 63, 63);
}

button:hover {
    background-color: rgb(74, 226, 155);
    box-shadow: 0px 0px 33px -3px rgb(178, 182, 80);
}

button:active {
    background-color: rgb(60, 199, 134);
}
