@font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('assets/Optima\ Medium.woff') format('woff');
    }

* {
    font-family: 'Optima Medium';
}